<?php echo $this->getContent(); ?>

<?php echo $this->tag->form(['role' => 'form']); ?>

  <div class="control-group">
    <?php echo $form->label('existing', ['class' => 'control-label']); ?>
    <div class="controls">
      <?php echo $form->render('existing', ['class' => 'form-control populate-existing-message']); ?>
    </div>
  </div>

  <div class="control-group">
    <?php echo $form->label('subject', ['class' => 'control-label']); ?>
    <div class="controls">
      <?php echo $form->render('subject', ['class' => 'form-control']); ?>
    </div>
  </div>

  <div class="control-group">
    <?php echo $form->label('message', ['class' => 'control-label']); ?>
    <div class="controls">
      <?php echo $form->render('message', ['class' => 'form-control']); ?>
    </div>
  </div>

  <div class="control-group">
    <?php echo $form->label('to', ['class' => 'control-label']); ?>
    <div class="controls">
      <?php echo $form->render('to', ['class' => 'form-control']); ?>
    </div>
  </div>

  <div class="control-group">
    <?php echo $form->label('group', ['class' => 'control-label']); ?>
    <div class="controls">
      <?php echo $form->render('group', ['class' => 'form-control']); ?>
    </div>
  </div>

  <br>
  <div class="alert alert-danger">
    <strong>Info!</strong> Carefully chose one group or multiple users. No need to choose users which are in the group.
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Send</button>

<?php echo $this->tag->endForm(); ?>
