<?php echo $this->getContent(); ?>

<div class="row">
  <?php if (count($messages)) { ?>
    <table class="table table-reflow table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Created</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($messages as $message) { ?>
          <tr>
            <th scope="row"><?php echo $message->id; ?></th>
            <td><?php echo $message->subject; ?></td>
            <td><?php echo $message->message; ?></td>
            <td><?php echo $message->created_at; ?></td>
            <td><?php echo $message->status; ?></td>
            <td><?php echo $this->tag->linkTo(array('/message/view/' . $message->id, 'View', 'class' => 'btn
            btn-primary')); ?></td>
          </tr>
        <?php } ?>
      </tbody>
    </table>
  <?php } else { ?>
    <div class="alert alert-warning" role="alert">No items found</div>
  <?php } ?>
</div>
