<?php echo $this->getContent(); ?>

<div class="row">
  <div class="col-md-12">
    <?php echo $this->tag->linkTo(array('/message/index', 'Back', 'class' => 'btn btn-danger')); ?>
  </div>

  <?php if ($message) { ?>
    <div class="col-md-12">
      <h3><?php echo $message->subject; ?></h3>
      <p>
        <?php echo $message->message; ?>
      </p>
    </div>
  <?php } else { ?>
    <div class="alert alert-warning" role="alert">No message found</div>
  <?php } ?>
</div>
