<?php echo $this->getContent(); ?>

<div class="row">
  <div class="col-md-12">
    <?php echo $this->tag->linkTo(array('/admin/index', '<i class="glyphicon glyphicon-refresh"></i>',
      'class' => 'btn btn-success')); ?>
  </div>
  <div class="col-md-12">
    <table class="table table-reflow table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Membership</th>
          <th>Status</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($users as $user) { ?>
          <tr class="<?php echo $user->status == 1 ? 'success' : 'danger'; ?>">
            <th scope="row"><?php echo $user->id; ?></th>
            <td><?php echo $user->name; ?></td>
            <td><?php echo $user->mobile; ?></td>
            <td><?php echo $user->email; ?></td>
            <td><?php echo $user->membership; ?></td>
            <td><?php echo $user->status; ?></td>
            <td><?php echo $user->active; ?></td>
          </tr>
        <?php } ?>
      </tbody>
    </table>
  </div>
</div>
