<?php echo $this->getContent(); ?>

<?php echo $this->tag->form(['role' => 'form']); ?>

  <div class="control-group">
    <?php echo $form->label('title', ['class' => 'control-label']); ?>
    <div class="controls">
      <?php echo $form->render('title', ['class' => 'form-control']); ?>
    </div>
  </div>

  <div class="control-group">
    <?php echo $form->label('note', ['class' => 'control-label']); ?>
    <div class="controls">
      <?php echo $form->render('note', ['class' => 'form-control']); ?>
    </div>
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Save</button>

<?php echo $this->tag->endForm(); ?>
