<?php echo $this->getContent(); ?>

<div class="row">
  <?php if (count($notes)) { ?>
    <table class="table table-reflow table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Note</th>
          <th>Created</th>
          <th>Edited</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($notes as $note) { ?>
          <tr>
            <th scope="row"><?php echo $note->id; ?></th>
            <td><?php echo $note->title; ?></td>
            <td><?php echo $note->note; ?></td>
            <td><?php echo $note->created_at; ?></td>
            <td><?php echo $note->edited_at; ?></td>
            <td>
              <?php echo $this->tag->linkTo(array('/note/edit/' . $note->id, 'Edit', 'class' => 'btn btn-primary')); ?>
            </td>
          </tr>
        <?php } ?>
      </tbody>
    </table>
  <?php } else { ?>
    <div class="alert alert-warning" role="alert">No items found</div>
  <?php } ?>
</div>
