<?php echo $this->getContent(); ?>

<?php echo $this->tag->form(['role' => 'form']); ?>

<div class="control-group">
  <?php echo $form->label('name', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('name', ['class' => 'form-control']); ?>
  </div>
</div>

<div class="control-group">
  <?php echo $form->label('username', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('username', ['class' => 'form-control']); ?>
  </div>
</div>

<div class="control-group">
  <?php echo $form->label('email', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('email', ['class' => 'form-control']); ?>
  </div>
</div>

<div class="control-group">
  <?php echo $form->label('password', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('password', ['class' => 'form-control']); ?>
  </div>
</div>

<div class="control-group">
  <?php echo $form->label('repeatPassword', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('repeatPassword', ['class' => 'form-control']); ?>
  </div>
</div>

<div class="control-group">
  <?php echo $form->label('mobile', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('mobile', ['class' => 'form-control']); ?>
  </div>
</div>

<div class="control-group">
  <?php echo $form->label('membership', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('membership', ['class' => 'form-control']); ?>
  </div>
</div>

<div class="control-group">
  <?php echo $form->label('status', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('status', ['class' => 'form-control']); ?>
  </div>
</div>

<div class="control-group">
  <?php echo $form->label('active', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('active', ['class' => 'form-control']); ?>
  </div>
</div>

<br>
<button type="submit" class="btn btn-primary">Save</button>

<?php echo $this->tag->endForm(); ?>
