<?php echo $this->getContent(); ?>

<?php echo $this->tag->form(['role' => 'form']); ?>

<div class="control-group">
  <?php echo $form->label('name', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('name', ['class' => 'form-control']); ?>
  </div>
</div>

<div class="control-group">
  <?php echo $form->label('user', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('user', ['class' => 'form-control']); ?>
  </div>
</div>

<div class="control-group">
  <?php echo $form->label('active', ['class' => 'control-label']); ?>
  <div class="controls">
    <?php echo $form->render('active', ['class' => 'form-control']); ?>
  </div>
</div>

<br>
<button type="submit" class="btn btn-primary">Save group</button>

<?php echo $this->tag->endForm(); ?>
