<?php echo $this->getContent(); ?>

<div class="row">
  <?php if (count($groups)) { ?>
    <table class="table table-reflow table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <?php foreach ($groups as $group) { ?>
          <tr class="<?php echo $group->active == 0 ? 'danger' : ''; ?>">
            <th scope="row"><?php echo $group->id; ?></th>
            <td><?php echo $group->name; ?></td>
            <td><?php echo Group::$activeStatuses[$group->active]; ?></td>
            <td>
              <?php echo $this->tag->linkTo(array('/user/editGroup/' . $group->id, 'Edit', 'class' => 'btn
              btn-primary')); ?>
            </td>
          </tr>
        <?php } ?>
      </tbody>
    </table>
  <?php } else { ?>
    <div class="alert alert-warning" role="alert">No items found</div>
  <?php } ?>
</div>
