<?php echo $this->getContent(); ?>

<div class="row">
  <table class="table table-reflow table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Membership</th>
        <th>Status</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($users as $user) { ?>
        <tr class="<?php echo $user->active == 0 ? 'table-danger' : ''; ?>">
          <th scope="row"><?php echo $user->id; ?></th>
          <td><?php echo $user->name; ?></td>
          <td><?php echo substr($user->mobile, 0, 5) . ' ' . substr($user->mobile, 7); ?></td>
          <td><?php echo $user->email; ?></td>
          <td><?php echo User::$userMemberships[$user->membership]; ?></td>
          <td><?php echo User::$userStatus[$user->status]; ?></td>
          <td><?php echo User::$activeStatuses[$user->active]; ?></td>
          <td>
            <?php echo $this->tag->linkTo(array('/user/edit/' . $user->id, 'Edit', 'class' => 'btn btn-primary')); ?>
          </td>
        </tr>
      <?php } ?>
    </tbody>
  </table>
</div>
