<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <?php echo $this->tag->getTitle(); ?>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/select2.full.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="HGSS application for handling people resources">
    <meta name="author" content="Toni Butkovic">
  </head>
  <body>
    <?php echo $this->getContent(); ?>
  </body>

  <script type="text/javascript" src="/custom.js"></script>

</html>
